<%provide(:title, "About")%>
<h1> About</h1>
<p>
	This App will function roughly like <a href="http://www.twitter.com"><em>Twitter</em></a>, the most famous socialize website which is also developed with 
	<a href="http://rubyonrails.org/">Ruby On Rails</a>.
<p>
