<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	If you need any help or further information about this application,
	please contact Xiowei Wang via 
	<a href="mailto:wxwwayne@gmail.com?Subject=FakeTwitter20%App" 
	target="_top">Email</a>.
</p>

<p> Thank you very much for your suggestions!</p>

