<footer class= "footer">
	<small>
		The <a href="https://faketwitter-app.herokuapp.com/">Faketwitter App</a> by <a href="https://www.linkedin.com/pub/xiaowei-wang/79/57b/5ba">Xiaowei Wang</a>
	</small>
	<nav>
		<ul>
			<li><%=link_to "About", about_path %></li>
			<li><%=link_to "Contact", contact_path %></li>
			<li><a href="http://www.twitter.com" target='_blank')">Twitter</a></li>
		</ul>
	</nav>
</footer>